// Cores definidas

$background: #1F1F1F;
$background-light: #E6E6E6;
$background-second: #1A1A1A;
$cor-primaria: #F4CE16;
$btn-color: #e8c100; 
$btn-shadow: lighten(#e8c100, 8%);
$primary-text: #826B00; 
$btn-shadow-primary: lighten(#826B00, 8%);
$text: #F0F0F0;

$font-titulo: 'Cinzel Decorative', sans-serif;
$font-texto: 'Cormorant', sans-serif;
$font-botao: 'Lato', sans-serif;