@import 'variables';

/* Reset CSS */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Adicione definições de fonte */

body {
  line-height: 1;
  font-family: 'Cormorant', 'Georgia', 'Times New Roman', serif; /* Cormorant e alternativas serif */
  font-weight: 500;
  background-color: $background-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', 'Playfair Display', serif; /* Cinzel Decorative e alternativa estilosa */
  font-weight: 800;
}

p {
  font-family: 'Cormorant', 'Georgia', 'Times New Roman', serif; /* Cormorant e alternativas serif */
  font-weight: 600;
}

button {
  font-family: 'Lato', sans-serif; // Fonte para botões
  font-weight: 500; // Peso médio (medium) para a fonte Lato
}

/* HTML5 display-role reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
